body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: $mdc-theme-primary !important;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // display: flex;
  height: 100vh;
}

#root {

}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li a {
  text-decoration: none;
}

img {
  display: block;
}

// scrollbar reset
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #CCCCCC; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #CCCCCC; 
}